<h1>Notify Mail</h1><br>
<h2> Last 5 hour left </h2>
<p>
  Hello <%= @name %>,<br>   
  Last 5 hour is left. So i request you to 
  get ready for event.<br>
  <p> We are not going to provide anything. You have to take your assets by own.</p>
</p>